.logotitle{
    font-family: Tiempos;
    text-transform: none;
}

.navbarmenu{
    font-family: Gilroy;
    text-transform: none;
}

#banner .inner{
    font-family: Tiempos;
    text-transform: none;
}

@media screen and (min-width: 981px) {

    #banner {
        text-align: left !important;
        background-color: transparent !important;
    }

    #banner .inner{
        background-color: transparent !important;
        padding-left: 10%;
    }


}

.rounded-border{
    border-radius: 10px;
    font-size: 0.8em !important;
    text-transform: none;
    padding: 1em 1.2em !important;
}


@media screen and (max-width: 736px) {
    #banner {
        background-attachment: scroll, scroll, scroll, fixed;
        background-color: #645862;
        background-image: url("images/light-bl.svg"), url("images/light-br.svg"), url("../../images/bannermobile.jpg");
        background-position: bottom left, bottom right, 50% 65%;
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size: 25em, 25em, cover;
        color: #fff;
        cursor: default;
        padding: 6em 0;
        text-align: center;
    }
}

.fa-solid::before{
    font-size: 30pt;
    color: rebeccapurple;
}

.icon.featured{
    margin: 0 0 1.1 0;
}

section .wrapper{
    font-family: Gilroy !important;
}
